a(name="contactus")
form.form
  h2 CONTACT US
  p(type='Name:')
    input(placeholder='Write your name here..')
  p(type='Email:')
    input(placeholder='Let us know how to contact you back..')
  p(type='Message:')
    input(placeholder='What would you like to tell us..')
  button Send Message

div.socialemedia
a.fa.fa-facebook(href='#')
a.fa.fa-twitter(href='#')
a.fa.fa-google(href='#')
a.fa.fa-linkedin(href='#')
a.fa.fa-youtube(href='#')
a.fa.fa-instagram(href='#')
a.fa.fa-facebook(href='#')
a.fa.fa-pinterest(href='#')
a.fa.fa-snapchat-ghost(href='#')
a.fa.fa-skype(href='#')
a.fa.fa-android(href='#')
a.fa.fa-dribbble(href='#')
a.fa.fa-vimeo(href='#')
a.fa.fa-tumblr(href='#')

div.co
    span
    | 20203203
    span
    |  contact@OmarToumi.com