a(name="homapage")
div.home
    div.homepart1
        h1 Home page (Random Content)
        p jfaekfjeakfjeakfeakfjaekfjeafaekfjeakfjeakfjakfjeakfjejfaekfjeakfjeakfeakfjaekfjeafaekfjeakfjeakfjakfjeakfjejfaekfjeakfjeakfeakfjaekfjaekfj
        p jfaekfjeakfjeakfeakfjaekfjeafaekfjeakfjeakfjakfjeakfjejfaekfjeakfjeakfeakfjaekfjeafaekfjeakfjeakfjakfjeakfjejfaekfjeakfjeakfeakfjaekfjaekfj
        p jfaekfjeakfjeakfeakfjaekfjeafaekfjeakfjeakfjakfjeakfjejfaekfjeakfjeakfeakfjaekfjeafaekfjeakfjeakfjakfjeakfjejfaekfjeakfjeakfeakfjaekfjaekfj
        p jfaekfjeakfjeakfeakfjaekfjeafaekfjeakfjeakfjakfjeakfjejfaekfjeakfjeakfeakfjaekfjeafaekfjeakfjeakfjakfjeakfjejfaekfjeakfjeakfeakfjaekfjaekfj
        p jfaekfjeakfjeakfeakfjaekfjeafaekfjeakfjeakfjakfjeakfjejfaekfjeakfjeakfeakfjaekfjeafaekfjeakfjeakfjakfjeakfjejfaekfjeakfjeakfeakfjaekfjaekfj
    div.homepart2
        img(src="https://media.moddb.com/images/members/5/4550/4549205/duck.jpg", alt="lose")