nav
  ul.menuItems
    li
      a(href='#homepage' data-item='Home Page') Home Page
    li
      a(href='#ourservices' data-item='Our Services') Our Services
    li
      a(href='#contactus' data-item='Contact us') Contact us